html, body, #wrapper{
	width: 100%;
	height: 100%;
}

body{
	background-image: url(bg1.jpg);
}

#wrapper{
	vertical-align: middle;
	background-image: url(bg2.png);
	background-repeat: no-repeat;
	background-position: center;
}

#main{
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 12px;
	box-shadow: 0 0px 5px rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.8);
}

#msgLabel{
	height: 25px;
	color: #9d9d9d;
	font-size: 0.8em;
}

h2{
	margin: 0;
	margin-bottom: 10px;
	font-family: "simsun";
	font-size: 1.6em;
	font-weight: normal;
}

.zj-data-title>span{
	display: inline-block;
	text-align: center;
}
.zj-data-line{
	height: 40px;
}
.zj-data-line>*{
	margin-right: 2%;
	width: 25%;
}
.zj-data-line>*:first-child{
	width: 19%;
}
.zj-data-line>*:last-child{
	margin-right: 0;
}
.zj-data-title{
	height: 30px;
}
.zj-data-btn>button{
	width: 49%;
}
.zj-data-btn>button:first-child{
	margin-right: 2%;
}



@media (min-width:800px){
	body{
		display: table;
	}

	#wrapper{
		display: table-cell;
	}
	
	#main{
		width: 300px;
		height: auto;
	}
}