html, body, #wrapper{
	width: 100%;
	height: 100%;
}

#main{
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0.75em;
	
	background-color: white;
}

#msgLabel{
	height: 2.5em;
	color: #9d9d9d;
	font-size: 0.8em;
}

h2{
	margin: 0;
	margin-bottom: 0.6em;
	font-family: "simsun";
	font-size: 1.6em;
	font-weight: normal;
}

.zj-data-title>span{
	display: inline-block;
	text-align: center;
}
.zj-data-line{
	height: 3em;
}
.zj-data-line>*{
	margin-right: 2%;
	width: 25%;
}
.zj-data-line>*:first-child{
	width: 19%;
}
.zj-data-line>*:last-child{
	margin-right: 0;
}
.zj-data-title{
	height: 2em;
}
.zj-data-btn>button{
	width: 49%;
}
.zj-data-btn>button:first-child{
	margin-right: 2%;
}



@media (min-width:800px){
	body{
		display: table;
		background-image: url(bg1.jpg);
	}

	#wrapper{
		display: table-cell;
		vertical-align: middle;
		background-image: url(bg2.png);
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#main{
		width: 18.75em;
		box-shadow: 0 0 0.3em rgba(0,0,0,0.5);
		background-color: rgba(255,255,255,0.8);
		height: auto;
	}
	.zj-data-line{
		height: 2.5em;
	}
	input[type=button],button,.btn{
		height: 2em;
	}
	input[type=text],input[type=password],input[type=email],select{
		height: 2em;
	}
}